* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
}

::-webkit-scrollbar {
    width: 1rem;
}
::-webkit-scrollbar-track {
    background: transparent;
}
::-webkit-scrollbar-thumb {
    background: var(--color-primary);
}
::-webkit-scrollbar-thumb:hover {
    background: #3F8FDE;
}

:root {
    --container-width-lg: 80%;
    --container-width-md: 60%;
    --container-width-sm: 94%;

    --radius-1: 2rem;
    --radius-2: 1.2rem;
    --radius-3: .8rem;
    --radius-4: .5rem;
    --radius-5: .3rem;

    --transition: all 300ms ease;

    --primary-hue: 222;
    --color-primary: hsl(var(--primary-hue), 87%, 44%);
    --color-nav-bg: hsla(var(--primary-hue), 0%, 100%, 0.4);
    --color-gray-100: #fff;
    --color-gray-200: hsl(var(--primary-hue), 0%, 90%);
    --color-gray-300: hsl(var(--primary-hue), 0%, 85%);
    --color-gray-400: hsl(var(--primary-hue), 0%, 70%);
    --color-gray-500: hsl(var(--primary-hue), 0%, 55%);
    --color-gray-600: hsl(var(--primary-hue), 0%, 40%);
    --color-gray-700: hsl(var(--primary-hue), 0%, 25%);
    --color-gray-800: hsl(var(--primary-hue), 0%, 15%);
    --color-gray-900: hsl(var(--primary-hue), 0%, 5%);
}

.dark {
    --color-gray-100: hsl(var(--primary-hue), 0%, 5%);
    --color-gray-200: hsl(var(--primary-hue), 0%, 15%);
    --color-gray-300: hsl(var(--primary-hue), 0%, 30%);
    --color-gray-400: hsl(var(--primary-hue), 0%, 40%);
    --color-gray-500: hsl(var(--primary-hue), 0%, 50%);
    --color-gray-600: hsl(var(--primary-hue), 0%, 60%);
    --color-gray-700: hsl(var(--primary-hue), 0%, 70%);
    --color-gray-800: hsl(var(--primary-hue), 0%, 80%);
    --color-gray-900: hsl(var(--primary-hue), 0%, 100%);

    --color-nav-bg: hsla(var(--primary-hue), 0%, 0%, 0.4);
}

html {
    scroll-behavior: smooth;
}


body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-gray-100);
    color: var(--color-gray-800);
    line-height: 1.7;
    font-weight: 300;
}

p, a, figcaption {
    font-size: 0.85rem;
}

.container {
    width: var(--container-width-lg);
    margin-inline: auto;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Outfit', sans-serif;
    line-height: 1;
}

h1 {
    font-size: 3rem;
    font-weight: 800;
}

h2 {
    font-size: 2rem;
}

.btn {
    background: var(--color-gray-300);
    color: var(--color-gray-900);
    font-weight: 500;
    display: inline-block;
    padding: 1rem 2.5rem;
    border-radius: var(--radius-3);
    width: fit-content;
    cursor: pointer;
    transition: var(--transition);
}

.btn.sm {
    padding: .4rem 1rem;
    font-weight: 400;
    border-radius: var(--radius-4);
}

.btn.primary {
    background: var(--color-primary);
    color: white;
}

.btn:hover {
    background: var(--color-gray-900);
    color: var(--color-gray-100);
}

section {
    padding: 9rem 0;
}

section > h1, section > p {
    width: 50%;
    text-align: center;
    margin-inline: auto;
}

section > h1 {
    margin-bottom: .5rem;
}

section:nth-child(odd) {
    background: var(--color-gray-200);
}



/* ===================== NAV ===================== */
nav {
    background: var(--color-nav-bg);
    border-bottom: 1px solid var(--color-gray-300);
    display: grid;
    place-items: center;
    height: 3.8rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0 5rem;
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    -moz-backdrop-filter: blur(15px);
    -o-backdrop-filter: blur(15px);
    -ms-backdrop-filter: blur(15px);
    z-index: 10;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
}

.nav-logo {
    width: 3rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    overflow: hidden;
}

.nav-menu {
    display: flex;
    align-items: center;
    gap: 3rem;
}

.nav-menu a {
    color: var(--color-gray-900);
    font-size: 1.1rem;
}

.nav-toggle-open, .nav-toggle-close {
    display: none;
}

.nav-theme-btn {
    color: var(--color-gray-900);
    background: transparent;
    font-size: 1.8rem;
    cursor: pointer;
}
/* ===================== END OF NAV ===================== */


/* ===================== HEADER ===================== */

header {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: var(--color-gray-200);
}
.header-container {
    margin-top: 3rem;
    position: relative; /*isso permite q os socials n colem na direita da tela*/
}
.header-image {
    width: 20rem;
    aspect-ratio: 3/4;
    position: relative;
    overflow: hidden;
    margin-inline: auto;
    border-radius: 50% 50% var(--radius-2) var(--radius-2);
}
.header-img1 {
    display: block;
}
.header-img2 {
    display: none;
}

.header-image img {
    object-fit: cover;
    object-position: 13px -5px;
    height: 100%;
    scale: 1.2;
}

.header-content {
    text-align: center;
    margin-top: 2rem;
    width: 40rem;
    margin-inline: auto;
}
.header-content h3 {
    margin-bottom: .7rem;
    font-size: 1.4rem;
}
.header-content h3 span {
    color: var(--color-primary);
}
.header-content p {
    margin: .8rem 0 2rem;
}
.header-cta {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    justify-content: center;
}
.header-cta #projetcts {
    background: var(--color-gray-300);
}
.header-socials {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 1.1rem;
}
.header-socials a {
    font-size: 1.8rem;
    background: var(--color-gray-300);
    color: var(--color-gray-900);
    padding: .4rem .7rem;
    display: inline-block;
    border-radius: var(--radius-4);
    transition: var(--transition);
}
.header-socials a:hover {
    background: var(--color-primary);
    color: var(--color-gray-100);
    transform: translate(-0.5rem);
}
/* ===================== END OF HEADER ===================== */


/* ===================== ABOUT ===================== */

section.about {
    background: var(--color-gray-100);
}


.div-about {
 width: 100%;
}
.div-tech {
    display: none;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    max-width: 28rem;
    margin-bottom: 4.5rem;

}
.div-tech img {
    max-width: 70px;   
    object-fit: contain;
}
.div-tech small {
    color: var(--color-gray-500);
    font-size: .7rem;
    line-height: .7rem;
    width: 100%;

}
.div-skills {
    display: none;
}
.div-skills a {
    color: var(--color-primary);
}
.div-skills ul {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.div-skills ul li {
    display: flex;
    gap: 1rem;
    justify-content: flex-start;
    align-items: center;
}

.about-container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    gap: 3rem;
}
.about-image {
    border: 1rem solid var(--color-gray-200);
    height: fit-content;
    max-height: 35rem;
    overflow: hidden;
}
.about-cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 3rem 0 1.5rem;
}
.about-card {
    background: var(--color-gray-200);
    padding: 1rem;
    border-radius: var(--radius-2);
    text-align: center;
    transition: var(--transition);
    cursor: pointer;
}
.about-card:hover {
    background: var(--color-primary);
    color: var(--color-gray-100);
    transform: translateY(-0.5rem);
}

.ca-active {
    background: var(--color-primary);
    color: var(--color-gray-100);
    transform: translateY(-0.5rem);
}
.about-card i {
    color: var(--color-primary);
    font-size: 2rem;
    display: inline-block;
    padding: .1rem;
    border-radius: var(--radius-4);
}
.about-card:hover i {
    color: var(--color-gray-100);
}
.ca-active i {
    color: var(--color-gray-100);
}

.about-card i:hover {
    scale: 0.87;
    box-shadow: none;
} 
.about-card h4 {
    margin: 1rem 0 0.8rem;
}
.about-card small {
    font-size: 0.7rem;
}
.about-details p {
    margin-bottom: 0.8rem;
}
.about-details .btn {
    margin-top: 2rem;
    display: flex;
    gap: .5rem;
    align-items: center;
}
.about-details .btn i {
    font-size: 1.2rem;
}

/* ===================== END OF ABOUT ===================== */


/* ===================== PROJECTS ===================== */

.projects {
    background: var(--color-gray-200);
}
.projects-categories {
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
    margin: 4rem 0 2.5rem;
    flex-wrap: wrap;
}

.projects-categories li {
    background: var(--color-gray-100);
    padding: 0.6rem 1.5rem;
    border-radius: var(--radius-4);
    font-weight: 500;
    font-size: 0.8rem;
    cursor: pointer;
    transition: var(--transition);
}
.projects-categories li:hover,  li.mixitup-control-active {
    background: var(--color-primary);
    color: var(--color-gray-100);
}
.projects-container {
    display: grid;
    width: var(--container-width-md);
    margin-inline: auto;
    grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
    gap: 3.5rem;
}

.project {
    background: var(--color-gray-100);
    padding: 1.4rem;
    border-radius: var(--radius-2);
    transition: var(--transition);
    /* mixitup animation */
    opacity: 0;
    animation: identifier 1.5s ease forwards;
}
.ptech {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    margin-bottom: 1rem;
}
.ptech img {
    max-width: 40px;
    object-fit: contain;
}

@keyframes identifier {
    to {
        opacity: 1;
    }
}

.project:hover {
    box-shadow: 0 3rem 2rem rgba(0, 0, 0, 0.1);
}
.project-image {
    height: auto;
    max-height: 12rem;
    margin-bottom: 1.5rem;
    border-radius: var(--radius-4);
    overflow: hidden;
}
.project p {
    margin: .5rem 0 1.5rem;
}
.project-cta {
    display: flex;
    justify-content: end;
    align-items: center;
}

.project-cta span {
    font-size: .7rem;
    padding-right: 1rem;
    color: var(--color-gray-700);
}
.project-cta a {
    margin-left: 1rem;
}

/* ===================== END OF PROJECTS ===================== */


/* ===================== CONTACT ===================== */

section.contact {
    background: var(--color-primary);
}
.contact-container {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 9fr;
    gap: 6rem;
}
section.contact h2 {
    width: 100%;
    text-align: center;
    padding-bottom: 1rem;
    color: var(--color-gray-900);
}
section.contact h3 {
    width: 100%;
    text-align: center;
    padding-bottom: 4rem;
    color: var(--color-gray-900);
}
.contact-list {
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}
.contact-list-item {
    background: var(--color-gray-100);
    padding: 1rem;
    display: block;
    text-align: center;
    color: var(--color-gray-900);
    border-radius: var(--radius-3);
    font-size: 1.6rem;
    transition: var(--transition);
}
.contact-list-item:hover {
    background: var(--color-gray-900);
    color: var(--color-gray-100);
}
.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.contact-form input, .contact-form textarea {
    background: transparent;
    border: 3px solid var(--color-gray-100);
    border-radius: var(--radius-3);
    padding: 1rem;
    color: var(--color-gray-100);
    resize: none;
}
.contact-form input::placeholder, .contact-form textarea::placeholder {
    color: var(--color-gray-100);
    font-size: 1rem;
}

.contact-form .btn {
    background: var(--color-gray-100);
    color: var(--color-gray-900);
}
/* ===================== END OF CONTACT ===================== */


/* ===================== RESPONSIVO ===================== */
@media (max-width: 1630px) {
    .projects-container {
        width: var(--container-width-lg);
        grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
        gap: 3.5rem;
    }
}
@media (max-width: 768px) {

    .div-skills ul li {
        gap: .5rem;

    }

    section.contact h3 {
        width: 100%;
        text-align: center;padding-bottom: 3rem;
        padding: 0 3rem 3rem;
        font-size: 1.5rem;
    }
    .header-image img {
        scale: 1.1;
        object-fit: cover;
        aspect-ratio: 5/8;
        object-position: -10px 5px;
    }
    .header-img1 {
        display: none;
    }
    .header-img2 {
        display: block;
        
    }

    h1 {
        font-size: 1.8rem;
    }

    p, a, figcaption {
        font-size: 1rem;
    }

    .container {
        width: var(--container-width-sm);
    }

    section {
        padding: 7rem 0;
    }
    section > h1, section > p {
        width: var(--container-width-sm);
    }

    /* menu */
    nav {
        padding: 0 2rem;
    }
    .nav-container {
        max-height: 4rem;
    }
    .nav-menu {
        position: fixed;
        right: 0;
        top: 3.8rem;
        flex-direction: column;
        gap: 0;
        width: fit-content;
        display: none;
        perspective: 250px;
    }
    .nav-menu li {
        width: 100%;
    }
    .nav-menu li a {
        background: var(--color-gray-200);
        padding: 1rem 4rem;
        width: 100%;
        display: block;
        border-top: 1px solid var(--color-gray-300);
        text-align: center;
        box-shadow: -2rem 5rem 5rem rgba(0, 0, 0, 0.3);
    }
    .nav-toggle-open, .nav-toggle-close {
        display: inline-block;
        background: transparent;
        font-size: 1.8rem;
        color: var(--color-gray-900);
    }
    .nav-toggle-close {
        display: none;
    }
    .nav-buttons {
        display: flex;
        align-items: center;
        gap: 2.5rem;
    }
    .nav-menu li {
        transform: rotateX(90deg);
        opacity: 0;
        animation: navKey 1s ease-in-out forwards;
        transform-origin: top;

    }
    .nav-menu li:nth-child(2) {
        animation-delay: 200ms;
    }
    .nav-menu li:nth-child(3) {
        animation-delay: 400ms;
    }
    .nav-menu li:nth-child(4) {
        animation-delay: 600ms;
    }
    .nav-menu li:nth-child(5) {
        animation-delay: 800ms;
    }
    @keyframes navKey {
        to {
            transform: rotateX(0deg);
            opacity: 1;
        }
    }



    /* header */
    header {
        height: 115vh;
    }
    .header-content {
        width: var(--container-width-sm);
        padding-bottom: 3rem;
    }
    .header-socials {
        display: none;
    }
    .header-image {
        width: 50vw;
        aspect-ratio: 4/5;
    }


    /* about */
    .about-container {
        grid-template-columns: 1fr;
    }
    .about-image {
        display: none;
    }
    .about-item-card {
        display: flex;
        justify-content: center;
        margin: 3rem auto;
    }
    .about-cards {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 1rem;
    }
    .abtn {
        margin: auto;
    }


    /* projects */
    .projects-categories {
        gap: 0.7rem;
    }
    .projects-categories li {
        padding: .8rem 1rem;
    }
    .projects-container {
        gap: 1rem;
    }


     /* contact */
     .contact-container {
        grid-template-columns: 1fr;
        gap: 3rem;
     }
     .contact-list {
        flex-direction: row;
        justify-content: center;
     }
}
